.draw_area {
    border-color: #000;
    border-style: solid;
    border-width: 1px;
    float: left;
    height: 1080px;
    width: 800px;
}

.lectures_area {
    border-color: #000;
    border-style: solid;
    border-width: 1px;
    float: right;
    width: 300px;
}

.message_area {
    float: left;
    width: 800px;
}

.message_area ul {
    margin: 0;
    padding: 0;
}

.message_area li {
    display: inline-block;
}

.message_area li::after {
    content: "，";
}

.message_area li:last-child::after {
    content: "";
}
